$bug: #a8b820;
$dark: #7c6e64;
$dragon: #7038f8;
$electric: #f8d030;
$fairy: #ee99ac;
$fighting: #c03028;
$fire: #ea7a3c;
$flying: #a890f0;
$ghost: #705898;
$grass: #78c850;
$ground: #cc9f4f;
$ice: #98d8d8;
$normal: #a8a878;
$poison: #a040a0;
$pyschic: #f85888;
$rock: #b8a038;
$steel: #b8b8d0;
$water: #6890f0;

$main-bg-color: #20232a;
$banner-bg-color: #141416;

$font-color: #ffffff;

$sans-serif: Helvetica, Verdana, sans-serif;
$serif: Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$light: 300;
$semibold: 500;
$bold: 700;
