$bug: #94BC4A;
$dark: #736C75;
$dragon: #6A7BAF;
$electric: #E5C531;
$fairy: #E397D1;
$fighting: #CB5F48;
$fire: #EA7A3C;
$flying: #7DA6DE;
$ghost: #846AB6;
$grass: #71C558;
$ground: #CC9F4F;
$ice: #70CBD4;
$normal: #AAB09F;
$poison: #B468B7;
$pyschic: #E5709B;
$rock: #B2A061;
$steel: #89A1B0;
$water: #539AE2;

$sans-serif: Helvetica, Verdana, sans-serif;
$serif:  Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;