.queryOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 80vw;
  flex-wrap: wrap;
}

.typeButton {
  @include button;
}

.statQuery {
  @include button;
  background-color: grey;
}

.runQuery {
  @include button;
  margin: 2rem 0 4rem 0;
  background-color: seagreen !important;
}
